.landing-section {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem; /* Ajuste del padding para mejor proporción */
  background-color: #b4e4e3; /* Ajuste del color de fondo */
  border: none; /* Elimina los bordes redondeados */
  width: 100%; /* Ajuste del ancho del recuadro */
  height: 60%; /* Aumento de la altura del recuadro */
  margin: 0 auto; /* Centra el recuadro */
  font-family: "Montserrat", sans-serif;
}

.text-content {
  max-width: 40%; /* Ajuste del ancho del texto */
  padding: 1% 10%;
  display: flex;
  flex-direction: column;
}

.text-content h1 {
  font-size: 3rem; /* Aumento del tamaño del texto */
  margin-bottom: 0.2rem;
  font-weight: bold; /* Ajuste a negrita */
  width: 400px;
  line-height: 1.06;
  letter-spacing: 0.1rem;
  padding-right: 1rem;
  margin-bottom: 1rem;
}

.text-content p {
  margin-bottom: 1rem; /* Ajuste del margen inferior */
  font-size: 1.5rem; /* Aumento del tamaño del texto */
  font-weight: light; /* Mantener el peso normal */
  font-family: Montserrat, sans-serif;
}

.text-content button {
  padding: 0.75rem 1.5rem; /* Aumento del padding del botón */
  background-color: #fff;
  border: none;
  color: #000;
  font-size: 1.15rem; /* Ajuste del tamaño del texto del botón */
  cursor: pointer;
  transition: background-color 0.3s;
  border-radius: 83px; /* Ajuste a bordes redondeados */
  font-weight: bold; /* Ajuste a negrita */
  align-self: center;
}

.text-content button:hover {
  background-color: #f0f0f0;
}

.image-content {
  max-width: 100%; /* Ajuste del ancho de la sección de imágenes */
  max-height: 100%;
  position: relative;
  overflow: hidden;
}
.image-content img {
  width: 80%; /* Aumento del tamaño de la imagen */
  height: 80%%; /* Aumento del tamaño de la imagen */
  object-fit: contain; /* Ajuste para que la imagen se ajuste completamente */
  transition: opacity 1s ease-in-out;
  opacity: 0;
}

.image-content img.active {
  opacity: 1;
}

/* Para que sea responsive */

/* Pantallas pequeñas */
@media (max-width: 600px) {
  .landing-section {
    flex-direction: column;
    height: auto;
    text-align: center;
    padding: 1rem;
  }

  .text-content {
    max-width: 100%;
    padding: 1rem;
  }

  .text-content h1 {
    font-size: 2.5rem;
    width: 80px;
  }

  .image-content img {
    width: 100%;
    height: auto;
  }
}

/* Pantallas medianas */
@media (min-width: 811px) and (max-width: 1024px) {
  .landing-section {
    padding: 1rem;
  }

  .text-content h1 {
    font-size: 2.5rem;
    width: 150px;
  }

  .text-content p {
    font-size: 1.25rem;
  }

  .text-content button {
    padding: 0.5rem 1rem;
    font-size: 1rem;
  }

  .image-content img {
    width: 100%;
    height: auto;
  }
}

/* Pantallas grandes */
@media (min-width: 1025px) {
  .landing-section {
    padding: 2rem;
    flex-direction: row;
  }

  .text-content h1 {
    font-size: 3rem;
    width: 400px;
  }

  .text-content p {
    font-size: 1.75rem;
  }

  .text-content button {
    padding: 1rem 2rem;
    font-size: 1.25rem;
  }

  .image-content img {
    width: 80%;
    height: auto;
  }
}
